{
  "message_redirected": "Сообщение из другой группы:{re}",
  "message_deleted": "Сообщение было удалено. Ссылка на удаленное сообщение: {link}",
  "message_edited": "Сообщение было изменено. Посмотреть оригинал: {link}",
  "forward_error": "Ошибка пересылки сообщения. Невозможно переслать это сообщение."
}
