{
  "message_redirected": "Message from another group:{re}",
  "message_deleted": "The message has been deleted. Link to deleted message: {link}",
  "message_edited": "The message has been changed. View original: {link}",
  "forward_error": "Message forwarding failed. This message cannot be forwarded."
}
